# Force LF line endings for all text files
* text=auto eol=lf
*.bat eol=crlf

*.css linguist-detectable
*.geojson linguist-detectable
*.json linguist-detectable
*.jsonc linguist-detectable
*.json5 linguist-detectable
*.md linguist-documentation
*.svg linguist-detectable
*.yaml linguist-detectable

docs/** linguist-documentation
dist/** linguist-generated
i18n/** linguist-vendored
